{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold mb-4">
  <i class="bi bi-archive me-2"></i> {{ title }}
</h2>

<div class="card shadow-sm p-3">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Unidad</th>
          <th>Ubicación</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for i in items %}
        <tr>
          <td>{{ i.material_code }}</td>
          <td>{{ i.material_text }}</td>
          <td>{{ i.base_unit }}</td>
          <td>{{ i.location }}</td>
          <td>{{ i.libre_utilizacion }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-secondary mt-2" href="{{ url_for('inventory.history_inventory') }}">
    <i class="bi bi-arrow-left me-2"></i> Volver
  </a>
</div>

{% endblock %}
