# nixpacks.toml
[phases.setup]
cmds = [
  "apt-get update -y",
  "apt-get install -y tesseract-ocr",
  "apt-get install -y tesseract-ocr-spa",
  "apt-get install -y poppler-utils",
  "apt-get install -y libgl1-mesa-glx",
  "apt-get install -y libsm6",
  "apt-get install -y libxext6",
  "apt-get install -y libxrender-dev",
  "pip install --upgrade pip"
]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn --bind 0.0.0.0:$PORT wsgi:app"

[environment]
TESSDATA_PREFIX = "/usr/share/tesseract-ocr/4.00/tessdata"
